doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Quiz en Javascript (POO)

    link(rel="stylesheet", href="./index.css")
  body
    header 

    main.component
      #quizz.component__quizz

        .component__infos
          p#progress test
          h2#question test
        

        .component__choices
          button#guess1.btn
            p#choices1 1
          button#guess2.btn
            p#choices2 
          button#guess3.btn
            p#choices3 
          button#guess4.btn
            p#choices4 

        h3#score

    script(src="./index.js") 