doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Quiz en Javascript (POO)

    link(rel="stylesheet", href="./index.css")
  body
    header 

    main.component
      #quizz.component__quizz

        .component__infos
          p#progress
          p#question

        .component__choices
          button#guess0.btn
            p#choice0 
          button#guess1.btn
            p#choice1 
          button#guess2.btn
            p#choice2 
          button#guess3.btn
            p#choice3 

    script(src="./index.js") 